{% extends 'base.html' %}
{% load account_tags %}

{% block content %}
<div class="mt-5">
    <div class="container">
        <div class="row justify-content-center align-items-center">

            <div class="col-lg-4 col-md-6 col-8">
                {% include 'includes/alert.html' %}
                <div class="bg-deepblue rounded p-3">
                    {% block form_content %}

                    {% endblock %}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}