{% extends 'account/registration/base.html' %}
{% load account_tags %}

{% block form_content %}
<h4 class="text-center">Change Password</h4>

<div class="blue-line"></div>

<div class="mt-3">
    <form action="{% url 'account:change_password' %}" method="post" novalidate>
        {% csrf_token %}


        {% for field in form %}
        <div class="mb-2">
            {% text_input field placeholder=field.label %}
        </div>
        {% endfor %}

        <div class="col">
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn-darkblue">Sign in</button>
            </div>
        </div>

    </form>
</div>
{% endblock %}