$darkblue: #1d2e47;
$gold: #eb9a17;
$lightgrey: #e8e8e8;
$greyblue: #324a70;
$snow: #f2f2f2;
$deepblue: #0c1624;
$indigo: #15253d;

$colors: (
  "darkblue": $darkblue,
  "gold": $gold,
  "lightgrey": $lightgrey,
  "greyblue": $greyblue,
  "deepblue": $deepblue,
  "snow": $snow,
  "indigo": $indigo,
);

$buttons: (
  "darkblue": (
    "background": $darkblue,
    "text_color": $snow,
  ),
  "greyblue": (
    "background": $greyblue,
    "text_color": $snow,
  ),
  "indigo": (
    "background": $indigo,
    "text_color": $snow,
  ),
  "deepblue": (
    "background": $deepblue,
    "text_color": $snow,
  ),
);
