{% extends 'base_content.html' %}
{% load account_tags %}
{% load static %}

{% block page_content %}
<h3>Upload new image</h3>
<div class="blue-line"></div>
<div class="mt-2">
    <form action="{% url 'images:save_image' %}" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-2">{% text_input field placeholder=field.label %}</div>
        {% endfor %}
        <button type="submit" class="btn-darkblue">Save</button>
    </form>
</div>
{% endblock %}
