body {
  background-color: #22334d;
  color: white;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

header {
  color: white;
}

header .logo {
  font-size: 24px;
}

nav {
  border-top: 1px solid #324a70;
  border-bottom: 1px solid #324a70;
  color: white;
  font-size: 16px;
  background-color: #1a273b;
}

nav a {
  color: #e8e8e8;
}

nav a:hover {
  color: white;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.content-block {
  background: rgba(0, 0, 0, 0.5);
}

.blue-line {
  border-bottom: 1px solid #324a70;
}
