.btn-darkblue {
  background-color: #1d2e47;
  color: #f2f2f2;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border: 1px solid #1d2e47;
  font-size: 14px;
  border-radius: 0.2rem;
  padding: 4px 8px;
  padding: 6px 12px;
}

.btn-darkblue:hover {
  background-color: #33517d;
  color: white;
}

.btn-darkblue-sm {
  background-color: #1d2e47;
  color: #f2f2f2;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border: 1px solid #1d2e47;
  font-size: 14px;
  border-radius: 0.2rem;
  padding: 4px 8px;
}

.btn-darkblue-sm:hover {
  background-color: #33517d;
  color: white;
}

.btn-greyblue {
  background-color: #324a70;
  color: #f2f2f2;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border: 1px solid #324a70;
  font-size: 14px;
  border-radius: 0.2rem;
  padding: 4px 8px;
  padding: 6px 12px;
}

.btn-greyblue:hover {
  background-color: #4a6da5;
  color: white;
}

.btn-greyblue-sm {
  background-color: #324a70;
  color: #f2f2f2;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border: 1px solid #324a70;
  font-size: 14px;
  border-radius: 0.2rem;
  padding: 4px 8px;
}

.btn-greyblue-sm:hover {
  background-color: #4a6da5;
  color: white;
}

.btn-indigo {
  background-color: #15253d;
  color: #f2f2f2;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border: 1px solid #15253d;
  font-size: 14px;
  border-radius: 0.2rem;
  padding: 4px 8px;
  padding: 6px 12px;
}

.btn-indigo:hover {
  background-color: #294876;
  color: white;
}

.btn-indigo-sm {
  background-color: #15253d;
  color: #f2f2f2;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border: 1px solid #15253d;
  font-size: 14px;
  border-radius: 0.2rem;
  padding: 4px 8px;
}

.btn-indigo-sm:hover {
  background-color: #294876;
  color: white;
}

.btn-deepblue {
  background-color: #0c1624;
  color: #f2f2f2;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border: 1px solid #0c1624;
  font-size: 14px;
  border-radius: 0.2rem;
  padding: 4px 8px;
  padding: 6px 12px;
}

.btn-deepblue:hover {
  background-color: #1f395d;
  color: white;
}

.btn-deepblue-sm {
  background-color: #0c1624;
  color: #f2f2f2;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border: 1px solid #0c1624;
  font-size: 14px;
  border-radius: 0.2rem;
  padding: 4px 8px;
}

.btn-deepblue-sm:hover {
  background-color: #1f395d;
  color: white;
}

a.link-darkblue {
  color: #1d2e47;
}

a.link-darkblue:hover {
  color: #33517d;
}

.border-darkblue-top {
  border-top: 1px solid #1d2e47;
}

.border-darkblue-bottom {
  border-bottom: 1px solid #1d2e47;
}

.border-darkblue-start {
  border-left: 1px solid #1d2e47;
}

.border-darkblue-end {
  border-right: 1px solid #1d2e47;
}

.border-darkblue {
  border: 1px solid #1d2e47;
}

.bg-darkblue {
  background-color: #1d2e47;
}

.text-darkblue {
  color: #1d2e47;
}

a.link-gold {
  color: #eb9a17;
}

a.link-gold:hover {
  color: #f1b95d;
}

.border-gold-top {
  border-top: 1px solid #eb9a17;
}

.border-gold-bottom {
  border-bottom: 1px solid #eb9a17;
}

.border-gold-start {
  border-left: 1px solid #eb9a17;
}

.border-gold-end {
  border-right: 1px solid #eb9a17;
}

.border-gold {
  border: 1px solid #eb9a17;
}

.bg-gold {
  background-color: #eb9a17;
}

.text-gold {
  color: #eb9a17;
}

a.link-lightgrey {
  color: #e8e8e8;
}

a.link-lightgrey:hover {
  color: white;
}

.border-lightgrey-top {
  border-top: 1px solid #e8e8e8;
}

.border-lightgrey-bottom {
  border-bottom: 1px solid #e8e8e8;
}

.border-lightgrey-start {
  border-left: 1px solid #e8e8e8;
}

.border-lightgrey-end {
  border-right: 1px solid #e8e8e8;
}

.border-lightgrey {
  border: 1px solid #e8e8e8;
}

.bg-lightgrey {
  background-color: #e8e8e8;
}

.text-lightgrey {
  color: #e8e8e8;
}

a.link-greyblue {
  color: #324a70;
}

a.link-greyblue:hover {
  color: #4a6da5;
}

.border-greyblue-top {
  border-top: 1px solid #324a70;
}

.border-greyblue-bottom {
  border-bottom: 1px solid #324a70;
}

.border-greyblue-start {
  border-left: 1px solid #324a70;
}

.border-greyblue-end {
  border-right: 1px solid #324a70;
}

.border-greyblue {
  border: 1px solid #324a70;
}

.bg-greyblue {
  background-color: #324a70;
}

.text-greyblue {
  color: #324a70;
}

a.link-deepblue {
  color: #0c1624;
}

a.link-deepblue:hover {
  color: #1f395d;
}

.border-deepblue-top {
  border-top: 1px solid #0c1624;
}

.border-deepblue-bottom {
  border-bottom: 1px solid #0c1624;
}

.border-deepblue-start {
  border-left: 1px solid #0c1624;
}

.border-deepblue-end {
  border-right: 1px solid #0c1624;
}

.border-deepblue {
  border: 1px solid #0c1624;
}

.bg-deepblue {
  background-color: #0c1624;
}

.text-deepblue {
  color: #0c1624;
}

a.link-snow {
  color: #f2f2f2;
}

a.link-snow:hover {
  color: white;
}

.border-snow-top {
  border-top: 1px solid #f2f2f2;
}

.border-snow-bottom {
  border-bottom: 1px solid #f2f2f2;
}

.border-snow-start {
  border-left: 1px solid #f2f2f2;
}

.border-snow-end {
  border-right: 1px solid #f2f2f2;
}

.border-snow {
  border: 1px solid #f2f2f2;
}

.bg-snow {
  background-color: #f2f2f2;
}

.text-snow {
  color: #f2f2f2;
}

a.link-indigo {
  color: #15253d;
}

a.link-indigo:hover {
  color: #294876;
}

.border-indigo-top {
  border-top: 1px solid #15253d;
}

.border-indigo-bottom {
  border-bottom: 1px solid #15253d;
}

.border-indigo-start {
  border-left: 1px solid #15253d;
}

.border-indigo-end {
  border-right: 1px solid #15253d;
}

.border-indigo {
  border: 1px solid #15253d;
}

.bg-indigo {
  background-color: #15253d;
}

.text-indigo {
  color: #15253d;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  background-color: #1d2e47;
  color: white;
  height: 100%;
}

header {
  color: white;
}

header .logo {
  font-size: 24px;
}

nav {
  color: white;
  font-size: 16px;
}

nav a {
  color: #e8e8e8;
}

nav a:hover {
  color: white;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.chain-link a {
  visibility: hidden;
}

.chain-link:hover a {
  visibility: visible;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blue-line {
  border-bottom: 1px solid #324a70;
}

.dropdown-menu-link {
  padding: 4px 5px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.dropdown-menu-link:hover {
  background-color: #2a3e5e;
  color: white;
}
