@mixin get_colored_link($color) {
    a {
        color: $color;

        &:hover{
            color: lighten($color, 25%)
        }
    }
}

@mixin link_styles($color, $value) {
    a.link-#{$color} {
        color: $value;

        &:hover{
            color: lighten($value, 15%)
        }
    }
}

@mixin custom_button($name, $button) {
    $background_color: map-get($button, "background");
    $text_color: map-get($button, "text_color");

    .btn-#{$name} {
        background-color: $background_color;
        color: $text_color;
        transition: all 0.1s ease-in-out;
        border: 0;
        font-size: 14px;
        border-radius: .2rem;
        padding: 5px 15px;

        &:hover {
            background-color: lighten($background_color, 15);
            color: lighten($text_color, 10)
        }
    }
}

@mixin border_line($color, $value) {

    .border-#{$color}-top{
        border-top: 1px solid $value;
    }
    .border-#{$color}-bottom{
        border-bottom: 1px solid $value;
    }
    .border-#{$color}-start{
        border-left: 1px solid $value;
    }
    .border-#{$color}-end{
        border-right: 1px solid $value;
    }
    .border-#{$color}{
        border: 1px solid $value;
    }

}

@mixin background_color($color, $value) {

    .bg-#{$color} {
        background-color: $value;
    }

}