@import "_variables.scss";
@import "_mixins.scss";

@each $button, $style in $buttons {
    @include custom_button($button, $style);
}

@each $color, $value in $colors {
    @include link_styles($color, $value);
    @include border_line($color, $value);
    @include background_color($color, $value);
}

body {
    background-color: $darkblue;
    color: white;
}

a {
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

header {
    color: white;
    .logo {
        font-size: 24px;
    }
}

nav {
    @include get_colored_link($lightgrey);

    color: white;
    font-size: 16px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.blue-line {
    border-bottom: 1px solid $greyblue;
}
