@import "_variables.scss";
@import "_mixins.scss";

@each $button, $style in $buttons {
    @include custom_button($button, $style);
}

@each $color, $value in $colors {
    @include link_styles($color, $value);
    @include border_line($color, $value);
    @include background_color($color, $value);
    @include coloted_text($color, $value);
}

html, body {
    background-color: $darkblue;
    color: white;
    height: 100%;
}

header {
    color: white;
    .logo {
        font-size: 24px;
    }
}

nav {
    @include get_colored_link($lightgrey);

    color: white;
    font-size: 16px;
}

main {
    flex: 1 1 auto;
}

a {
    text-decoration: none;
    transition: all 0.1s ease-in;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.blue-line {
    border-bottom: 1px solid $greyblue;
}
