<div class="bg-deepblue content-block py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <div class="d-flex flex-column align-items-center">
                    <small>"Django 2 by Example — Antonio Mele"</small>
                    <small>Available on <a href="https://github.com/BorisPlaton/book_social_network">Github</a> <i class="bi bi-github ms-1"></i></small>
                </div>
            </div>
        </div>
    </div>
</div>